*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d2f0e5d9;
}

.container {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0A5C5A;
    background-color: rgba(255, 255, 255, 0.633);
    padding: 3.2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 560px;
    max-width: 95%;
    transform: scale(1.05);
    transform-origin: center;
}

#heading {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #0E3A60;
    letter-spacing: 3px;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
}

#input-amount{
    height: 3.5rem;
    padding-left: 0.70rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid rgba(241, 229, 229, 0.884);  
    border-radius: 8px;
    transition: all 0.5s ease; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.137);
    margin-top: 0.75rem;
}

#input-amount:hover,
#input-amount:focus {
    border: 2px solid #a3c9f4;
    outline: none;
}

select, button, input {
    width: 100%;
    padding: 0.35rem;
    border: none; 
    outline: none;
    border-radius: 0.75rem;
}


.drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.drop-down i {
    font-size: 1.5rem;
    margin-top: 2.3rem;
    color: #333333;
}

.select-container img {
    max-width: 2.5rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    padding: 0.7rem 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-top: 0.74rem;
    cursor: pointer;
}

.select-container select {
    cursor: pointer;
    font-size: 1.1rem;
}

.msg {
    color: rgb(72, 70, 70);
    margin: 2rem 0 ;
    font-size: 1.1rem;
}

.container button {
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    color: #355e81;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
    transition: all 0.5s ease;
}

.container button:hover{
    transform: scale(1.04);
}









/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d2f0e5d9;
}

.container {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #0A5C5A;
    background-color: rgba(255, 255, 255, 0.633);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 95%;
    
}

#heading {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #0E3A60;
    letter-spacing: 3px;
    font-family: "Nunito", sans-serif;
}

#input-amount{
    height: 3rem;
    padding-left: 0.70rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid rgba(241, 229, 229, 0.884);  
    border-radius: 8px;
    transition: all 0.5s ease; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.137);
    margin-top: 0.75rem;
}

#input-amount:hover,
#input-amount:focus {
    border: 2px solid #a3c9f4;
    outline: none;
}

select, button, input {
    width: 100%;
    padding: 0.35rem;
    border: none; 
    outline: none;
    border-radius: 0.75rem;
}


.drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.drop-down i {
    font-size: 1.5rem;
    margin-top: 2.3rem;
    color: #333333;
}

.select-container img {
    max-width: 2.5rem;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    padding: 0.4rem 0.8rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-top: 0.74rem;
    cursor: pointer;
}

.select-container select {
    cursor: pointer;
    font-size: 1rem;
}

.msg {
    color: rgb(72, 70, 70);
    margin: 2rem 0 ;
}

.container button {
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    color: #355e81;
    letter-spacing: 1px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
    transition: all 0.5s ease;
}

.container button:hover{
    transform: scale(1.04);
} */


